<%# Start of Footer %>
  <footer class="blog-footer bg-dark text-light">
    <p>
      <%= copyright_generator %>
    </p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
<%# End of footer %>