<div class="center">
    <h2>About Me</h2>
    <p>Welcome to my portfolio site. I specialize in a number of front-end and back-end libraries and frameworks. I design & create responsive applications for mobile devices. </p>
    <p>I have experience working on libraries, frameworks and tools that span across object-oriented and functional languages development. I enjoy learning new technologies and researching on better industry standards and best practices for developing applications. Working software is the measure of progress therefore, I continuously build solutions that enhance the experience of the user and are developed to scale if there is a demand. I'm very determined to have an impact in the OSS developer community and provide well engineered solutions. </p>
</div>