<h1>Get In Touch</h1>

<hr>

<div class="row">
    <div class="col-md-6">
        <h4>Office Address</h4>
        <p>134 Peter St, Toronto, ON</p>

        <h4>Email Address</h4>
        <p><a href="mailto:dev360tutorials@gmail.com">dev360tutorials@gmail.com</a></p>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.981964402756!2d-79.39599814878544!3d43.64854357901909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34dae4d4a8d1%3A0x29be4d52595fdb1e!2s134+Peter+St%2C+Toronto%2C+ON+M5V+2H2!5e0!3m2!1sen!2sca!4v1542425765380" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>